<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MAQUINA EXPENDEDORA BOCETO</h1>
    1701---Alely
    <form action="/compra"  method="post">
        <label >Codigo</label>
        <input type="number" name="Codigo" id="Codigo" placeholder="Ingresa tu codigo">
        <label >Credito</label>
        <input type="number" name="Credito" id="Credito" placeholder="Ingresa tu credito">
        <input type="submit" value="Comprar">
    </form>
</body>
</html>